<div style="text-align: center;">
  <h1>Upcoming Appointment Reminder</h1>
  <p>Hello, you have an upcoming appointment for <strong>{{timeSlot.date}}</strong> at <strong>{{timeSlot.hour}}</strong></p>
  <p>The appointment details are listed below:</p>
  <p>Type: {{type}}</p>
  <p>...etc. TODO</p>
</div>
