<div style="text-align: center; font-family: sans-serif; background-color: #4383ab; height: 100%; padding: 0 1rem 2rem 1rem;">
  <img style="height: 2rem; margin: 2rem 0 1rem 0;" src="cid:simple-logo" />

  <div style="background-color: #fff; border-radius: 5px; max-width: 400px; margin: 0 auto; padding: 1rem 1rem 1rem 1rem; box-shadow: 2px 2px 4px rgba(82, 82, 82, 0.6);">
    <h1>Account Email Change</h1>
    <p>{{name}}, your email has been changed by an admin.</p>
    <p>Your account is now associated with <strong>{{newEmail}}</strong>; all future emails from the BCTC TAS will be sent to this address.</p>
    <p>For reference, the old email associated with the account was <strong>{{currEmail}}</strong>.</p>
  </div>
</div>
