<div style="text-align: center; font-family: sans-serif; background-color: #4383ab; height: 100%; padding: 0 1rem;">
  <img style="height: 2rem; margin: 2rem 0 1rem 0;" src="cid:simple-logo" />

  <div style="background-color: #fff; border-radius: 5px; max-width: 400px; margin: 0 auto; padding: 1rem 1rem 2rem 1rem; box-shadow: 2px 2px 4px rgba(82, 82, 82, 0.6);">
    <h1>New User Signup Notice</h1>
    <p>A new signup has been receieved from {{name}} with email {{email}} that is awaiting confirmation.</p>
    <p>Please sign in view the details of the signup and confirm or delete this user.</p>
  </div>
</div>