<div style="text-align: center; font-family: sans-serif; background-color: limegreen; height: 100%; padding: 0 1rem;">
  <img style="height: 2rem; margin: 2rem 0 1rem 0;" src="cid:simple-logo" />

  <div style="background-color: #fff; border-radius: 5px; max-width: 400px; margin: 0 auto; padding: 1rem;">
    <h1>Reset Password</h1>
    <p>Click the link below to reset your account password for BCTC TAS.</p>
    <p style="margin-bottom: 1.5rem;">Please verify your email and log in using the link below.</p>
    <a href="{{resetLink}}" style="width: 100%; border-radius: 3px; text-decoration: none; padding: 0.5rem; height: 45px; cursor: pointer; color: #fff; background-color: tomato;">
      Reset Password
    </a>
    <p style="font-style: italic; font-size: 0.7rem; margin: 1.25rem 0 0 0;">This link will expire in 24 hours.</p>
  </div>

  <div style="padding: 1.5rem; font-size: 0.7rem; color: #fff; max-width: 400px; margin: 0 auto;">
    Button not working? Copy and paste this URL into your browser: <a href={{resetLink}} style="font-size: 0.5rem;">{{resetLink}}</a>
  </div>
</div>
