<div style="text-align: center; font-family: sans-serif; background-color: #4383ab; height: 100%; padding: 0 1rem;">
  <img style="height: 2rem; margin: 2rem 0 1rem 0;" src="cid:simple-logo" />

  <div style="background-color: #fff; border-radius: 5px; max-width: 400px; margin: 0 auto; padding: 1rem 1rem 2rem 1rem; box-shadow: 2px 2px 4px rgba(82, 82, 82, 0.6);">
    <h1>Verify Your Email</h1>
    <p>{{name}}, you're almost there.</p>
    <p style="margin-bottom: 1.5rem;">Please verify your email and log in using the link below.</p>
    <a href="{{verifyLink}}" style="width: 100%; border-radius: 3px; text-decoration: none; padding: 0.5rem; height: 45px; cursor: pointer; color: #fff; background-color: #44ab96;">
      Verify & Log In
    </a>
  </div>

  <div style="padding: 1.5rem; font-size: 0.7rem; color: #fff; max-width: 400px; margin: 0 auto; text-shadow: 1px 1px 2px rgba(82, 82, 82, 0.6);">
    Button not working? Copy and paste this URL into your browser: <a href={{verifyLink}} style="font-size: 0.5rem">{{verifyLink}}</a>
  </div>
</div>
