<style>
  .center {
    text-align: center;
  }
</style>

<div class="center">
  <h1>Account Confirmed - Verify Your Email</h1>
  <p>Congrats, {{name}}, your account has been confirmed by an administrator!</p>
  <p>You're now ready to log in and use the BCTC TAS. Please verify your email and log in using the link below.</p>
  <a href="{{verifyLink}}">Verify & Log In</a>
</div>
