<div style="text-align:center;">
  <h1 style="text-align:center;">Reset Password</h1>
  <p>Click the link below to reset your account password for BCTC TAS</p>
  <a style="color: white; text-decoration: none;" href="{{resetLink}}">Reset Password</a>
</div>
