<div style="text-align:center;">
  <h1 style="text-align:center;">Registration Received</h1>
  <p>{{name}}, thank you for signing up for the BCTC TAS!</p>
  <p>We've received your registration information and sent your request to TAS administrators for review.</p>
  <p>You will be notified once an admin has confirmed your account, at which point you can log in.</p>
  <p>Sit tight until then 👍</p>
</div>
