<style>
  .center {
    text-align: center;
  }
</style>

<div class="center">
  <h1>Verify Your Email</h1>
  <p>{{name}}, you're almost there.</p>
  <p>Please verify your email using the link below to begin using the TAS.</p>
  <a href="{{verifyLink}}">Verify</a>
</div>
